
.app-container{
    position: relative;
}

.img-backgound{
    position: relative;
    z-index: 50;
}

.container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
}


#Splash{
    display:"block";
}
#imgLoad{
    height: max-content;
    
}
#btnPlayLandindg{
    position: relative;
    margin-left: 213px;
    margin-right: auto;
    display: block;
    margin-top: -799px;
   
}

#btnSintomsLanding{
    position: relative;
    margin-left: 246px;
    margin-right: auto;
    display: block;
    margin-top: 27px;
}
#btnFundationLanding{
    position: relative;
    margin-left: 241px;
    margin-right: auto;
    display: block;
    margin-top: 37px;
}
#btnCreditsLanding{
    position: relative;
    margin-left: 237px;
    margin-right: auto;
    display: block;
    margin-top: 45px;

}
#Levels{
    height: 1519px;
    width: 720px;
    background-image: linear-gradient(#000013, #201033);
}

#lblTitle{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-left: 62px;
    font-size: 92px;

}
.divLevel{
    position: relative;
    display: inline-block;
    margin-left: 93px;
    margin-right: auto;
    margin-top: 20px;
}
.Level{
    border-radius: 600px;
    height: 154px;
}
.lblLevel{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#level7{
    margin-left: 293px;
    margin-right: auto;
}
#btnSintoms{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 60px;
}
#Help{
    height: 1519px;
    width: 720px;
    background-image: linear-gradient(#000013, #201033);
}

#lblText{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#btnLevel1{
    position: relative;
    margin-left: 150px;
    margin-right: auto;
    display: block;
    margin-top: -1033px;
   
}

#btnLevel2{
    position: relative;
    margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: 26px;
   
}

#btnLevel3{
    position: relative;
    margin-left: 214px;
    margin-right: auto;
    display: block;
    margin-top: -71px;
   
}

#btnLevel4{
    position: relative;
    margin-left: 442px;
    margin-right: auto;
    display: block;
    margin-top: 80px;
   
}

#btnLevel5{
    position: relative;
    margin-left: 164px;
    margin-right: auto;
    display: block;
    margin-top: 111px;
   
}

#btnLevelatras{
    position: relative;
    margin-left: 108px;
    margin-right: auto;
    display: block;
    margin-top: -1150px;
   
}

#btnCreditosatras{
    position: relative;
    margin-left: 78px;
    margin-right: auto;
    display: block;
    margin-top: -1195px;
   
}

#btnLevel1atras{
    position: relative;
    margin-left: 80px;
    margin-right: auto;
    display: block;
    margin-top: -1191px;
   
}

#btnLevelpausa{
    position: relative;
    margin-left: 600px;
    margin-right: auto;
    display: block;
    margin-top: -60px;
   
}

#div1{
    height: 1281px;
    width: 722px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}
