body{
    max-width: 100% !important;
}
.app-container{
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}

.img-backgound{
    position: relative;
    z-index: 50;
}

.container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
}
#Splash{
    display: block;
}

#ModalStop {
    z-index: 1;
    position: relative;
}
section{
    display: none;
}

#imgLoad{
    
    max-width: 100% !important;
}
.gameImage{
    height: max-content;
}
#btnPlayLandindg{
    position: absolute;
    top: 39%;
    left: 31%;
    width: 47%;
    height: 9%;
}

#btnSintomsLanding{
    position: absolute;
    top: 50%;
    left: 33%;
    width: 40%;
    height: 10%;
    /* position: relative;
    margin-left: 246px;
    margin-right: auto;
    display: block;
    margin-top: 27px; */
}
#btnFundationLanding{
    position: absolute;
    top: 63%;
    left: 33%;
    width: 38%;
    height: 8%;
    /* position: relative;
    margin-left: 241px;
    margin-right: auto;
    display: block;
    margin-top: 37px; */
}
#btnCreditsLanding{
    position: absolute;
    top: 74%;
    left: 33%;
    width: 38%;
    height: 8%;
    /* position: relative;
    margin-left: 237px;
    margin-right: auto;
    display: block;
    margin-top: 45px; */
}


#imgLevels{
    
    overflow: hidden;    

}
.divLevel{
    position: relative;
    display: inline-block;
    margin-left: 93px;
    margin-right: auto;
    margin-top: 20px;
}
.Level{
    border-radius: 600px;
    height: 154px;
}


#btnSintoms{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 60px;
}
#Help{
    height: 1280px;
    width: 720px;
    background-image: linear-gradient(#000013, #201033);
}
#btnHelpBack{
    position: relative;
    margin-left: 80px;
    margin-right: auto;
    display: block;
    margin-top: -1189px;
   
}

#btnSintomsBack{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 8%;
    height: 5%;
    /* position: relative;
    margin-left: 76px;
    margin-right: auto;
    display: block;
    margin-top: -1369px; */
   
}
#Fundation{
    background-image: linear-gradient(#000013, #201033);
}
#btnFundationBack{
    position: absolute;
    top: 5%;
    left: 12%;
    width: 15%;
    height: 7%;
    /* position: relative;
    margin-left: 108px;
    margin-right: auto;
    display: block;
    margin-top: -1199px;
    */
}

#btnFundationWeb{
    position: absolute;
    top: 90%;
    left: 37%;
    width: 38%;
    height: 10%;
    /* position: relative;
    margin-left: 248px;
    margin-right: auto;
    display: block;
    margin-top: 994px;; */
   
}

#btnLevel1{
    position: absolute;
    top: 21%;
    left: 22%;
    width: 26%;
    height: 12%;
    /* position: relative;
    margin-left: 150px;
    margin-right: auto;
    display: block;
    margin-top: -1033px; */
   
}

#btnLevel2{
    position: absolute;
    top: 35%;
    left: 75%;
    width: 26%;
    height: 12%;
    opacity: 0.5;
    /* position: relative;
    margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: 26px;
    opacity: 0.5; */
   
}

#btnLevel3{
    position: absolute;
    top: 43%;
    left: 35%;
    width: 26%;
    height: 12%;
    opacity: 0.5;
    /* position: relative;
    margin-left: 214px;
    margin-right: auto;
    display: block;
    margin-top: -71px;
    opacity: 0.5; */
   
}

#btnLevel4{
    position: absolute;
    top: 62%;
    left: 67%;
    width: 26%;
    height: 12%;
    opacity: 0.5;
    /* position: relative;
    margin-left: 442px;
    margin-right: auto;
    display: block;
    margin-top: 80px;
    opacity: 0.5; */
   
}

#btnLevel5{
    position: absolute;
    top: 84%;
    left: 25%;
    width: 27%;
    height: 13%;
    opacity: 0.5;
    /* position: relative;
    margin-left: 164px;
    margin-right: auto;
    display: block;
    margin-top: 111px;
    opacity: 0.5; */
   
}

#btnLevelBack{
    position: absolute;
    top: 5%;
    left: 12%;
    width: 15%;
    height: 7%;
    /* position: relative;
    margin-left: 108px;
    margin-right: auto;
    display: block;
    margin-top: -1150px; */
   
}

#btnCreditsBack{
    position: absolute;
    top: 8%;
    left: 11%;
    width: 8%;
    height: auto;
}

.btnBackLevel{
    position: relative;
    margin-left: 80px;
    margin-right: auto;
    display: block;
    margin-top: -1191px;
   
}

.btnStopLevel{
    position: relative;
    margin-left: 600px;
    margin-right: auto;
    display: block;
    margin-top: -60px;
   
}

.modalButton{
    margin-bottom: 589px;
    margin-left: -110px;
}

#imgVictory{
    margin-left: 43px;
}

#imgTryAgain{
    margin-left: 43px;
}
#imgStop{
    margin-left: 43px;
}
#btnStopSintoms{
    margin-left: -300px;
    margin-bottom: 345px;
}
#btnStopHome{
    margin-left: -379px;
    margin-bottom: 507px;
}

#btnStopHelp{
    margin-left: -243px;
    margin-bottom: 200px;

}
#btnTryTry{
    margin-left: -366px;
    margin-bottom: 50px;
}

#btnNextLevel{
    margin-left: -450px;
    margin-bottom: 50px;
}

#ModalVictory{
    position: relative;
    z-index: 99;
}

#ModalTryAgain{
    position: relative;
    z-index: 99;
}
#btnContinue{
    margin-left: -339px;
    margin-bottom: 64px;
    
}

.div1{
    height: 1281px;
    width: 722px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    display: contents;
}

.img-background{
    height: max-content;
}
.img-icon{
    position: relative;
}

#btnEnfermedad1{
    position: absolute;
    top: 14%;
    left: 11%;
    width: 18%;
    height: 12%;
    /* margin-left: 51px;
    margin-right: auto;
    display: block;
    margin-top: -1300px; */
}

#btnEnfermedad2{
    position: absolute;
    top: 14%;
    left: 42%;
    width: 18%;
    height: 12%;
    /* margin-left: 279px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

#btnEnfermedad3{
    position: absolute;
    top: 14%;
    left: 74%;
    width: 18%;
    height: 12%;
    /* 
    margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

#btnEnfermedad4{
    position: absolute;
    top: 32%;
    left: 11%;
    width: 18%;
    height: 12%;
    /* margin-left: 51px;
    margin-right: auto;
    display: block;
    margin-top: 102px; */
}

#btnEnfermedad5{
    position: absolute;
    top: 32%;
    left: 42%;
    width: 18%;
    height: 12%;
    /* margin-left: 279px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

#btnEnfermedad6{
    position: absolute;
    top: 32%;
    left: 72%;
    width: 18%;
    height: 12%;
    /* margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

#btnEnfermedad7{
    position: absolute;
    top: 50%;
    left: 11%;
    width: 18%;
    height: 12%;
    /* margin-left: 51px;
    margin-right: auto;
    display: block;
    margin-top: 102px; */
}

#btnEnfermedad8{
    position: absolute;
    top: 50%;
    left: 42%;
    width: 18%;
    height: 12%;
    /* margin-left: 279px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

#btnEnfermedad9{
    position: absolute;
    top: 50%;
    left: 72%;
    width: 18%;
    height: 12%;
    /* margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: -152px; */
}

#btnEnfermedad10{
    position: absolute;
    top: 67%;
    left: 11%;
    width: 18%;
    height: 12%;
    /* margin-left: 51px;
    margin-right: auto;
    display: block;
    margin-top: 102px; */
}

#btnEnfermedad11{
    position: absolute;
    top: 67%;
    left: 42%;
    width: 18%;
    height: 12%;
    /* margin-left: 279px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

#btnEnfermedad12{
    position: absolute;
    top: 67%;
    left: 72%;
    width: 18%;
    height: 12%;
    /* margin-left: 500px;
    margin-right: auto;
    display: block;
    margin-top: -152px; */
}

#btnEnfermedad13{
    position: absolute;
    top: 84%;
    left: 27%;
    width: 18%;
    height: 12%;
    /* margin-left: 159px;
    margin-right: auto;
    display: block;
    margin-top: 102px; */
}

#btnEnfermedad14{
    position: absolute;
    top: 84%;
    left: 60%;
    width: 18%;
    height: 12%;
    /* margin-left: 402px;
    margin-right: auto;
    display: block;
    margin-top: -158px; */
}

.modalEnfermedad{
    position: absolute;
    top: 21%;
    left: 5%;
    width: 8%;
    height: 5%;
    /* position: relative;
    margin-right: auto;
    margin-left: 50px;
    margin-top: 91px; */
}

.btnModalEnfermedad{
    margin-left: 481px;
    margin-right: auto;
    display: block;
    margin-top: -923px;
}
